.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-text-1 {
  text-decoration: underline !important;
  font-weight: 700;
  margin: 0 249px 0 274px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 668px;
  background-image: none;
  margin: 30px auto 20px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 39px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}