 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  min-height: 665px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/images1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 523px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 482px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 378px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 297px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-bottom: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 118px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 27px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 476px;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.5);
  height: 467px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -282px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 74px auto 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  font-weight: 700;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 142px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 477px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 385px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-4 .u-image-1 {
  height: 260px;
  margin: 0 10px;
}

.u-section-4 .u-text-1 {
  margin: 23px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 385px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-4 .u-image-2 {
  height: 260px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 35px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 385px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 260px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin: 24px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 10px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-4 .u-image-1 {
    height: 205px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-4 .u-image-2 {
    height: 205px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-4 .u-image-3 {
    height: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -60px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 146px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 398px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -84px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 422px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-4 .u-image-1 {
    height: 245px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-image-1 {
  height: 490px;
  margin-top: 10px;
  margin-bottom: 0;
  filter: brightness(0.5);
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: -268px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 482px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-5 .u-image-1 {
    height: 462px;
    margin-top: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 96px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 325px;
}

.u-section-6 .u-text-1 {
  margin: 17px 838px 0 0;
}

.u-section-6 .u-text-2 {
  margin: -225px 432px 0 406px;
}

.u-section-6 .u-text-3 {
  margin: -225px 0 60px 838px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 638px;
  }

  .u-section-6 .u-text-2 {
    width: 302px;
    margin-left: 306px;
    margin-right: 332px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-6 .u-text-1 {
    width: 302px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 302px;
    margin: 96px auto 39px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 54px;
    margin-bottom: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 81px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin: 84px 19px 46px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 471px;
}

.u-section-7 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 471px;
  filter: brightness(0.7);
}