 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/cooking.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 180px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 214px 77px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 150px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-2 .u-image-1 {
  width: 272px;
  height: 195px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 19px 4px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-2 .u-image-2 {
  width: 272px;
  height: 195px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 382px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-image-3 {
  width: 263px;
  height: 174px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 28px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-2 .u-image-4 {
  width: 274px;
  height: 195px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-2 .u-image-5 {
  width: 292px;
  height: 195px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 357px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-image-6 {
  width: 311px;
  height: 174px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 19px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 400;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-1 {
    width: 253px;
    height: 181px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-2 {
    width: 253px;
    height: 181px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 346px;
  }

  .u-section-2 .u-image-3 {
    width: 253px;
    height: 168px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 342px;
  }

  .u-section-2 .u-image-4 {
    width: 253px;
    height: 180px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-5 {
    width: 253px;
    height: 169px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-image-6 {
    width: 253px;
    height: 141px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 181px;
    height: 129px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 181px;
    height: 129px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 181px;
    height: 120px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    width: 181px;
    height: 129px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    width: 181px;
    height: 121px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-6 {
    width: 181px;
    height: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 240px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 233px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1986px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-3 .u-image-1 {
  width: 317px;
  height: 218px;
  margin: 0 0 0 3px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 19px 6px 0 23px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-3 .u-image-2 {
  width: 292px;
  height: 220px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 402px;
}

.u-section-3 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-3 .u-image-3 {
  width: 335px;
  height: 216px;
  margin: 0 14px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 23px 31px 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-3 .u-image-4 {
  width: 292px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 19px 23px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-3 .u-image-5 {
  width: 292px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 19px 0 0 14px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 401px;
}

.u-section-3 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-3 .u-image-6 {
  width: 311px;
  height: 198px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 14px 4px 0 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-7 {
  padding: 9px 30px;
}

.u-section-3 .u-image-7 {
  width: 294px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-8 {
  padding: 9px 30px;
}

.u-section-3 .u-image-8 {
  width: 347px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-9 {
  padding: 9px 28px;
}

.u-section-3 .u-image-9 {
  width: 311px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 19px 4px 0 0;
}

.u-section-3 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 377px;
}

.u-section-3 .u-container-layout-10 {
  padding: 9px 28px;
}

.u-section-3 .u-image-10 {
  width: 293px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 387px;
}

.u-section-3 .u-container-layout-11 {
  padding: 9px 30px;
}

.u-section-3 .u-image-11 {
  width: 292px;
  height: 195px;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 387px;
}

.u-section-3 .u-container-layout-12 {
  padding: 9px 30px;
}

.u-section-3 .u-image-12 {
  width: 311px;
  height: 198px;
  margin: 0 auto 0 2px;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin: 16px 2px 0;
}

.u-section-3 .u-layout-wrap-5 {
  margin-top: 0;
  margin-bottom: 44px;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 386px;
}

.u-section-3 .u-container-layout-13 {
  padding: 9px 30px;
}

.u-section-3 .u-image-13 {
  width: 317px;
  height: 195px;
  margin: 0 0 0 3px;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  margin: 19px 3px 0;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 386px;
}

.u-section-3 .u-container-layout-14 {
  padding: 9px 30px;
}

.u-section-3 .u-image-14 {
  width: 292px;
  height: 197px;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  font-weight: 400;
  margin: 19px 1px 0;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 386px;
}

.u-section-3 .u-container-layout-15 {
  padding: 9px 30px;
}

.u-section-3 .u-image-15 {
  width: 311px;
  height: 198px;
  margin: 0 auto;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-3 .u-image-1 {
    width: 253px;
    height: 174px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-3 .u-image-2 {
    width: 253px;
    height: 190px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-3 .u-image-3 {
    width: 313px;
    height: 202px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 331px;
  }

  .u-section-3 .u-image-4 {
    width: 253px;
    height: 169px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 331px;
  }

  .u-section-3 .u-image-5 {
    width: 253px;
    height: 169px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 331px;
  }

  .u-section-3 .u-image-6 {
    width: 253px;
    height: 161px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 348px;
  }

  .u-section-3 .u-image-7 {
    width: 253px;
    height: 168px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 348px;
  }

  .u-section-3 .u-image-8 {
    width: 253px;
    height: 142px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 348px;
  }

  .u-section-3 .u-image-9 {
    width: 258px;
    height: 161px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 3px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 333px;
  }

  .u-section-3 .u-image-10 {
    width: 257px;
    height: 171px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 333px;
  }

  .u-section-3 .u-image-11 {
    width: 253px;
    height: 169px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 333px;
  }

  .u-section-3 .u-image-12 {
    width: 253px;
    height: 161px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 318px;
  }

  .u-section-3 .u-image-13 {
    width: 253px;
    height: 155px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    width: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 318px;
  }

  .u-section-3 .u-image-14 {
    width: 253px;
    height: 171px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
    width: 176px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 318px;
  }

  .u-section-3 .u-image-15 {
    width: 253px;
    height: 161px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 181px;
    height: 124px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 181px;
    height: 136px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 155px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 181px;
    height: 121px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 181px;
    height: 121px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    width: 181px;
    height: 115px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-image-7 {
    width: 181px;
    height: 120px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-image-8 {
    width: 181px;
    height: 102px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-image-9 {
    width: 185px;
    height: 115px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-image-10 {
    width: 185px;
    height: 123px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-3 .u-image-11 {
    width: 181px;
    height: 121px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-3 .u-image-12 {
    width: 181px;
    height: 115px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-3 .u-image-13 {
    width: 180px;
    height: 110px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-3 .u-image-14 {
    width: 180px;
    height: 122px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-3 .u-image-15 {
    width: 180px;
    height: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 232px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 233px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 198px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 232px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 227px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 209px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 208px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 224px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 197px;
  }

  .u-section-3 .u-container-layout-13 {
    padding: 5px 10px;
  }

  .u-section-3 .u-image-13 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 23px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 210px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 200px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 100px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 886px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-4 .u-image-1 {
  width: 317px;
  height: 198px;
  margin: 0 0 0 3px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 19px 3px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-4 .u-image-2 {
  width: 296px;
  height: 197px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 19px 1px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-3 {
  padding: 9px 29px;
}

.u-section-4 .u-image-3 {
  width: 311px;
  height: 198px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: 19px 1px 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-4 .u-image-4 {
  width: 317px;
  height: 196px;
  margin: 9px 0 0 3px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 19px 3px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-5 {
  padding: 9px 30px;
}

.u-section-4 .u-image-5 {
  height: 198px;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: 19px 1px 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 333px;
}

.u-section-4 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-4 .u-image-6 {
  width: 311px;
  height: 200px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 53px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-4 .u-image-1 {
    width: 253px;
    height: 158px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-4 .u-image-2 {
    width: 253px;
    height: 168px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-4 .u-image-3 {
    width: 255px;
    height: 162px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 110px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 302px;
  }

  .u-section-4 .u-image-4 {
    width: 253px;
    height: 156px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 302px;
  }

  .u-section-4 .u-image-5 {
    height: 157px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 302px;
  }

  .u-section-4 .u-image-6 {
    width: 253px;
    height: 163px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 42px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 181px;
    height: 113px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    width: 181px;
    height: 120px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    width: 183px;
    height: 116px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-4 {
    width: 181px;
    height: 112px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    height: 112px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-image-6 {
    width: 181px;
    height: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1602px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 69px;
    margin-bottom: 46px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 257px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 322px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    height: 182px;
    width: 181px;
    margin-right: 169px;
    margin-left: 170px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 209px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 69px;
    margin-left: 70px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}