 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 336px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 303px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 54px;
  margin-bottom: 7px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 12px;
}

.u-section-1 .u-image-2 {
  width: 391px;
  height: 303px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 377px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 134px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 232px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 232px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 17px 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 3px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 166px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 818px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 26px 23px;
}

.u-section-2 .u-image-1 {
  height: 303px;
  width: 510px;
  margin: 2px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 166px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 355px;
}

.u-section-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2 .u-image-2 {
  width: 457px;
  height: 303px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 355px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 166px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-2 .u-image-1 {
    height: 244px;
    width: 418px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-2 .u-image-2 {
    width: 410px;
    height: 272px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    width: 308px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 199px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 310px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 47px;
    margin-bottom: 53px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 272px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-2 .u-image-1 {
    height: 191px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 146px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 166px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 168px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 20px 11px 60px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}